.todoRow{
    margin-top: 10px;
}
.todotitle{
    color: green;
    text-decoration: underline;
}
.todoBadge{
    width: 100%;
}
.inputText{
    width: 100%;
}
.subBtn{
    margin-top: 5px;
    float: right;
}
.historyRow{
    margin-top: 20px;
}

.historySelect{
    float: right;
}

.todoAvatar{
    background-color: darkcyan;
    color: white;
}

.finishAvatar{
    background-color: green;
    vertical-align: middle;
}